.calendar-date-cell {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.todayDot {
    color: #4d0051;
    font-weight: 100;
    text-decoration: underline;
}

.calendar-date-cell-inactive {
    text-align: center;
    color: grey;
}