<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
        }
        #graphiql {
            height: 100vh;
        }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="graphiql">
    Loading...
</div>
</body>
</html>